In [128]:
# ejercicios del 1 al 6 
nom_ciudades=["Cúcuta","Tabatinga","San Cristobal", "Leticia", "Santa Marta", "Bucaramanga"]
print(nom_ciudades)
print(nom_ciudades[1])
print(nom_ciudades[1:4])
print(type(nom_ciudades))
print(nom_ciudades[2:])
print(nom_ciudades[:4])

['Cúcuta', 'Tabatinga', 'San Cristobal', 'Leticia', 'Santa Marta', 'Bucaramanga']
Tabatinga
['Tabatinga', 'San Cristobal', 'Leticia']
<class 'list'>
['San Cristobal', 'Leticia', 'Santa Marta', 'Bucaramanga']
['Cúcuta', 'Tabatinga', 'San Cristobal', 'Leticia']

In [129]:
nom_ciudades.append("cali")
nom_ciudades.append("Cúcuta")
print(nom_ciudades)

['Cúcuta', 'Tabatinga', 'San Cristobal', 'Leticia', 'Santa Marta', 'Bucaramanga', 'cali', 'Cúcuta']

In [130]:
nom_ciudades.insert(3,"valledupar")
print(nom_ciudades)

['Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'Bucaramanga', 'cali', 'Cúcuta']

In [131]:
año=[1990,2006,2008]
nom_ciudades.extend(año)
print(nom_ciudades[:])

['Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'Bucaramanga', 'cali', 'Cúcuta', 1990, 2006, 2008]

In [132]:
print(nom_ciudades.index("Cúcuta"))

0

In [133]:
nom_ciudades.remove("Bucaramanga")
print(nom_ciudades)

['Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'cali', 'Cúcuta', 1990, 2006, 2008]

In [134]:
mi_var=nom_ciudades.pop()
print(mi_var)

2008

In [135]:
print(nom_ciudades *4)

['Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'cali', 'Cúcuta', 1990, 2006, 'Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'cali', 'Cúcuta', 1990, 2006, 'Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'cali', 'Cúcuta', 1990, 2006, 'Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'cali', 'Cúcuta', 1990, 2006]

In [136]:
mi_tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(mi_tupla[10:16])

(11, 12, 13, 14, 15, 16)

In [137]:
20 in mi_tupla
#30 in mi_tupla

True

In [138]:
if ("París" in nom_ciudades):
    print("París existe en la lista")
else:
    nom_ciudades.append("París")
    print("se agregó París a la lista")

se agregó París a la lista

In [139]:
print(nom_ciudades.count("Cúcuta"))
print(mi_tupla.count(10))

2
1

In [140]:
lista_de_tupla=list(mi_tupla)
print(lista_de_tupla)
print(type(lista_de_tupla))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

In [141]:
tupla2 =("Julio ", 31, "Bogotá", "ingeniero")
nombre, edad, ciudad = tupla2[:3]
print("Nombre: ", nombre, " Edad: ", edad, " Reside en: ", ciudad)

Nombre:  Julio   Edad:  31  Reside en:  Bogotá

In [142]:
my_first_dicc ={
    'ciudad' : nom_ciudades,
    'pais': ["colombia", "venezuela", "brasil"],
    "continente" : "sur america"
}
print(my_first_dicc)

{'ciudad': ['Cúcuta', 'Tabatinga', 'San Cristobal', 'valledupar', 'Leticia', 'Santa Marta', 'cali', 'Cúcuta', 1990, 2006, 'París'], 'pais': ['colombia', 'venezuela', 'brasil'], 'continente': 'sur america'}

In [144]:
print(my_first_dicc.keys())

dict_keys(['ciudad', 'pais', 'continente'])

In [151]:
print(my_first_dicc["ciudad"][3])

valledupar